@charset "utf-8";

body {
  padding: 0;
  margin: 0;
font-family: Verdana, sans-serif;
}

.container {
  padding: 0;
  margin: 30px auto;
  width: 500px;
  background: #dce0e0;
}

ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

ul.menu li {
    display: inline-block;
  }

ul.menu li a {
    display: inline-block;
    font-size: 14px;
    width: 80px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    padding: 7px;
    color: #333;
}
